@import "./tailwind.css";

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
#tsparticles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
html::-webkit-scrollbar-thumb {
  background: #420177;
}
section {
  min-height: 100vh;
  padding: 2rem 9%;
  width: 100%;
  overflow-y: hidden;
}
/* navbar starts */
header {
  z-index: 1000;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  background-color: #f7f7f7;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #011aff !important;
  border-bottom: 0.2rem solid #011aff;
  padding: 0.5rem 0;
}
/* navbar ends */
.home .content p span {
  color: rgb(148, 8, 8);
}
.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.home .btn:hover {
  background: #1a047e;
}

/* about section starts */
.mix-blend-luminosity {
  mix-blend-mode: luminosity;
}

.hover\:mix-blend-normal:hover {
  mix-blend-mode: normal;
  transform: scale(1.1);
}
/* Skills sections starts */
.skills {
  background: linear-gradient(to bottom, #57059e, #4a00e0);
}
.skills h2 {
  color: #fff;
}
.skills .heading span {
  color: rgb(255, 230, 0);
}
.skills .container {
  background: rgba(0, 0, 22, 0.4);
  color: #fff;
  border-radius: 1rem;
  padding: 3rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
.hovercontent {
  transition: transform 0.3s ease-in-out;
}
.hovercontent:hover {
  transform: scale(1.1);
}
/* projects section starts */
.projects {
  background: linear-gradient(to bottom, #57059e, #4a00e0);
  border-radius: 2rem;
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
}
.projectImage {
  background: rgba(0, 0, 22, 0.4);
  color: #fff;
}
.projects h2 {
  color: #fff;
}
.projectImage {
  transition: transform 0.3s ease-in-out;
}

.projectImage:hover {
  transform: scale(1.1);
}
.workExpCard {
  background: linear-gradient(to bottom, #57059e, #4a00e0);
  border-radius: 2rem;
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
}
